*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}
#extension{
    padding: 8px;
    margin-left: 10px;
    margin-right: 3px;
    width: 50%;
    border: 1px solid rgb(185, 185, 185);
    border-radius:3px;
    box-sizing: border-box;
}

#extension-btn{
    padding: 7px;
    width:80px;
    background:rgb(25, 125, 255);
    border-radius:3px;
    border:1px solid transparent;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
#extension-btn:hover{
    background:rgb(68, 149, 255);
}
#ul-list li{
    margin: 7px 0 7px 25px;
}